# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [20]:
t1=tuple(range(1,11))
print(t1)
print(type(t1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [21]:
print(t1[0])
print(t1[len(t1)//2])
print(t1[-1])

1
6
10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print(t1[:3])
print(t1[-3:])
print(t1[2:6])

(1, 2, 3)
(4, 5, 6)
(3, 4, 5, 6)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [22]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))

for i in nested_tuple:
    print(i)
print("2nd row 3rd Column:  ", nested_tuple[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
2nd row 3rd Column:   6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [13]:
t1 =(1,2,3)
t2=(4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [24]:
tpl=(1,2,2,3,4,4,4,5)
print(f"Occurence of 4: {tpl.count(4)}")
print(f"Index of first Occurence of 2: {tpl.index(2)}")

Occurence of 4: 3
Index of first Occurence of 2: 1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [25]:
t3="rahul",22,5.11,25,24
print(t3)

a,b,c,d,e=t3
print(a,b,c,d,e)

('rahul', 22, 5.11, 25, 24)
rahul 22 5.11 25 24


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [16]:
tup1=(1,2,3,4,5)
lst=list(tup1)
print(lst)

[1, 2, 3, 4, 5]


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [26]:
tup2=((1,2,3),(4,5,6),(7,8,9))

print(tup2)

((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [19]:
tup3=(1,2,3,4,5)
print(tup3)
lst3=list(tup3)
lst3.append(6)
tup3=tuple(lst3)
print(tup3)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [28]:
string="Hello"
tpl=tuple(string)
joined_str=' '.join(tpl)
print(joined_str)

H e l l o


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [29]:
tpl_dict={(1,2):3,(4,5):6,(7,8):9}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
tpl=((1,2,3),(4,5,6),(7,8,9))
for i in tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [31]:
tpl=(1,1,2,3,4,4,5,6,7,7,7)
uniqe_set=set(tpl)
print(uniqe_set)

{1, 2, 3, 4, 5, 6, 7}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [32]:
def min_in_tuple(tpl):
    return min(tpl)
def max_in_tuple(tpl):
    return max(tpl)
def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl=(1,2,3,4,5)
print(f"minimum: {min_in_tuple(sample_tpl)}")
print(f"maximum: {max_in_tuple(sample_tpl)}")
print(f"sum: {sum(sample_tpl)}")

minimum: 1
maximum: 5
sum: 15