### Tuples In Python

In [4]:
#Introduction To Tuples
#Create a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:

lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

In [5]:
numbers=tuple([1,2,3,4,5])
print(numbers)

(1, 2, 3, 4, 5)

In [6]:
num=list((1,2,3,4,5,6))
print(num)

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
##Accessing Tuple Elements
numbers[1]

2

In [9]:
numbers[2:4]

(3, 4)

In [10]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [11]:
numbers[::2]

(1, 3, 5)

In [12]:
##Tuple Operations
concatination_TwoTuple=numbers+mixed_tuple
print(concatination_TwoTuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [14]:
numbers*2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [15]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
## Immutable Nature Of Tuples
# tuples are immutable ,it can not change once get assign

In [16]:
##Tuple Method
print(numbers)

(1, 2, 3, 4, 5)

In [18]:
print(numbers.count(2))  #return Occurance
print(numbers.index(4)) #return Index

1
3

In [19]:
#Packing and Unpacking tuple
#packing
packed_tuple=1,"Hello",4.3
print(packed_tuple)

(1, 'Hello', 4.3)

In [20]:
#Unpacking
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
4.3

In [23]:
#unpacking with star
numbers=(1,2,3,4,5,6,7)
first, *middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [28]:
##Nested List
lst=[[1,2,3,4],[6,7,8],[11,23,44]]
lst[0][2]
lst[0][1:3]

[2, 3]

In [30]:
## Nested Tuple
nested_tuple=((1,2,3,4),(11,23),(True,False))
print(nested_tuple[0])
print(nested_tuple[0][:2])

(1, 2, 3, 4)
(1, 2)

In [33]:
for subtuple in nested_tuple:
    for item in subtuple:
        print(item,end=" ")
    print()

1 2 3 4
11 23
True False